[submodule ".local/share/nvim/site/pack/plugins/start/nightfox.nvim"]
	path = .local/share/nvim/site/pack/plugins/start/nightfox.nvim
	url = https://github.com/EdenEast/nightfox.nvim.git
[submodule ".local/share/nvim/site/pack/plugins/start/markdown-preview.nvim"]
	path = .local/share/nvim/site/pack/plugins/start/markdown-preview.nvim
	url = https://github.com/iamcco/markdown-preview.nvim.git
[submodule ".local/share/nvim/site/pack/plugins/start/copilot.vim"]
	path = .local/share/nvim/site/pack/plugins/start/copilot.vim
	url = https://github.com/github/copilot.vim.git
[submodule ".local/share/nvim/site/pack/plugins/start/plenary.nvim"]
	path = .local/share/nvim/site/pack/plugins/start/plenary.nvim
	url = https://github.com/nvim-lua/plenary.nvim.git
[submodule ".local/share/nvim/site/pack/plugins/start/telescope.nvim"]
	path = .local/share/nvim/site/pack/plugins/start/telescope.nvim
	url = https://github.com/nvim-telescope/telescope.nvim.git
[submodule ".local/share/nvim/site/pack/plugins/start/ripgrep"]
	path = .local/share/nvim/site/pack/plugins/start/ripgrep
	url = https://github.com/BurntSushi/ripgrep.git
